p {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

.main-component {
    width: 700px;
    margin: 100px auto;
}



.input-name,
.input-cost,
.input-filter {
    width: 250px;
    height: 40px;
    box-sizing: border-box;
}

.input-filter {
    margin-top: 10px;
}

.btn {
    height: 40px;
}

.btn-edit,
.btn-delete {
    font-size: 20px;
    width: 40px;
}

.item-name,
.item-cost,
.item-action {
    display: inline-block;
}

.item-cost,
.item-action {
    margin-left: 4px;
}

